:local(.styles h1) {
  font-size: 5vw;
  font-family: Monsart;
}
<<<<<<< HEAD

:local(.img-fluid img) {
    margin-bottom: -15px !important;
    max-width: 360px !important;
    margin-right: 5px !important;
};
=======
:local(.Select-control) {
    border-bottom: 1px solid #ccc !important;
}
// :local(.styles input) {
//   width: 91vw !important;
//   border: 1px solid grey !important;
// }
>>>>>>> 60176d8d40e2880452f1335ef857ee0afa4515e0
